<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karabiner-Elements complex_modifications rules by rcmdnk</title>
    <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="//rcmdnk.com/KE-complex_modifications/">Karabiner-Elements complex_modifications rules by rcmdnk</a>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-bottom: 100px">
      <div class="text-right" style="margin-bottom: 30px">
        <a href="//github.com/rcmdnk/KE-complex_modifications/">GitHub</a>
      </div>

      <% $toc = []
         $groups = ""
         
         # id must be different from file name
         add_group("self", "self_setting", [
           "self.json",
         ])
         
         add_group("frontmost_vscode", "frontmost_vscode_setting", [
           "frontmost_vscode.json",
         ])
         
         add_group("frontmost_Finder", "frontmost_Finder_setting", [
           "frontmost_Finder.json",
         ])
         
         add_group("frontmost_sublime", "frontmost_sublime_setting", [
           "frontmost_sublime.json",
         ])
         
         add_group("frontmost_vscode_sublime", "frontmost_vscode_sublime_setting", [
           "frontmost_vscode_sublime.json",
         ])
         
         add_group("frontmost_mi", "frontmost_mi_setting", [
           "frontmost_mi.json",
         ])
         
         add_group("frontmost_mysqlworkbench", "frontmost_mysqlworkbench_setting", [
           "frontmost_mysqlworkbench.json",
         ])
         
         add_group("mouse_control", "mouse_control_setting", [
           "mouse_control.json",
         ])
         add_group("tesuto", "tesuto_setting", [
           "tesuto.json",
         ])
         
         add_group("terminal", "terminal_setting", [
           "terminal.json",
         ])
         
         add_group("double_push_key", "double_push_key_setting", [
           "double_push_key.json",
         ])
         
         add_group("window_control", "window_control_setting", [
           "window_control.json",
         ])
         
         add_group("frontmost_PathFinder", "frontmost_PathFinder_setting", [
           "frontmost_PathFinder.json",
         ])
         
         add_group("frontmost_chrome", "frontmost_chrome_setting", [
           "frontmost_chrome.json",
         ])
         
         add_group("frontmost_firefox", "frontmost_firefox_setting", [
           "frontmost_firefox.json",
         ])
         
         add_group("frontmost_vivaldi", "frontmost_vivaldi_setting", [
           "frontmost_vivaldi.json",
         ])
         add_group("frontmost_terminal", "frontmost_terminal_setting", [
           "frontmost_terminal.json",
         ])
         
         add_group("frontmost_iterm", "frontmost_iterm_setting", [
           "frontmost_iterm.json",
         ])
         
         add_group("frontmost_evernote", "frontmost_evernote_setting", [
           "frontmost_evernote.json",
         ])
         add_group("hold", "hold_setting", [
           "hold.json",
         ])
         
         add_group("frontmost_excel", "frontmost_excel_setting", [
           "frontmost_excel.json",
         ])
         add_group("functionkey", "functionkey_setting", [
           "functionkey.json",
         ])
         add_group("replace_vim", "replace_vim_setting", [
           "replace_vim.json",
         ])
         add_group("vim_emu", "vim_emu_setting", [
           "vim_emu.json",
         ])
         add_group("frontmost_kindle", "frontmost_kindle_setting", [
           "frontmost_kindle.json",
         ])
         add_group("frontmost_preview", "frontmost_preview_setting", [
           "frontmost_preview.json",
         ])
         add_group("frontmost_pararelldesk", "frontmost_pararelldesk_setting", [
           "frontmost_pararelldesk.json",
         ]) %>


      <%= render_toc() %>
      <div class="text-left" style="margin-bottom: 30px">
        <a href="javascript:$('.collapse').collapse('show')">Expand All</a> |
        <a href="javascript:$('.collapse').collapse('hide')">Collapse All</a>
      </div>

      <%= $groups %>

      <hr />
    </div>

    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
