<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karabiner-Elements complex_modifications rules by rcmdnk</title>
    <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="//rcmdnk.com/KE-complex_modifications/">Karabiner-Elements complex_modifications rules by rcmdnk</a>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-bottom: 100px">
      <div class="text-right" style="margin-bottom: 30px">
        <a href="//github.com/rcmdnk/KE-complex_modifications/">GitHub</a>
      </div>

      <%
          $toc = []
          $groups = ""

          # id must be different from file name
          add_group("self","self_setting",[
              "self.json"
          ])

          add_group("frontmost_vscode","frontmost_vscode_setting",[
              "frontmost_vscode.json"
          ])
          
          add_group("frontmost_Finder","frontmost_Finder_setting",[
              "frontmost_Finder.json"
          ])

          add_group("frontmost_sublime","frontmost_sublime_setting",[
              "frontmost_sublime.json"
          ])

          add_group("frontmost_vscode_sublime","frontmost_vscode_sublime_setting",[
              "frontmost_vscode_sublime.json"
          ])

          add_group("add","add_setting",[
              "add.json"
          ])

          add_group("mouse_control","mouse_control_setting",[
              "mouse_control.json"
          ])
          add_group("tesuto","tesuto_setting",[
              "tesuto.json"
          ])

          add_group("terminal","terminal_setting",[
              "terminal.json"
          ])

          add_group("replacekey","replacekey_setting",[
              "replacekey.json"
          ])

          add_group("double_push_key","double_push_key_setting",[
              "double_push_key.json"
          ])

          add_group("frontmost_PathFinder","frontmost_PathFinder_setting",[
              "frontmost_PathFinder.json"
          ])

          add_group("frontmost_chrome","frontmost_chrome_setting",[
              "frontmost_chrome.json"
          ])

          add_group("frontmost_firefox","frontmost_firefox_setting",[
              "frontmost_firefox.json"
          ])

          add_group("frontmost_vivaldi","frontmost_vivaldi_setting",[
              "frontmost_vivaldi.json"
          ])

          add_group("hold","hold_setting",[
              "hold.json"
          ])
      %>

      <%= render_toc() %>
      <div class="text-left" style="margin-bottom: 30px">
        <a href="javascript:$('.collapse').collapse('show')">Expand All</a> |
        <a href="javascript:$('.collapse').collapse('hide')">Collapse All</a>
      </div>

      <%= $groups %>

      <hr />
    </div>

    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
