<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Karabiner-Elements complex_modifications rules by rcmdnk</title>
    <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="//rcmdnk.com/KE-complex_modifications/">Karabiner-Elements complex_modifications rules by rcmdnk</a>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-bottom: 100px">
      <div class="text-right" style="margin-bottom: 30px">
        <a href="//github.com/rcmdnk/KE-complex_modifications/">GitHub</a>
      </div>

      <% $toc = []
         $groups = ""

         # id must be different from file name
         add_group("General", "shotcutkey_setting", [
           "shotcutkey.json",
         ])
         add_group("Replacekeysummary", "replacekeysummary_setting", [
           "replacekeysummary.json",
         ])
         add_group("Generalsummary", "shotcutkeysummary_setting", [
           "shotcutkeysummary.json",
         ])
         add_group("FrontmostVscode", "frontmost_vscode_setting", [
           "frontmost_vscode.json",
         ])
         add_group("FrontmostEclipse", "frontmost_eclipse_setting", [
           "frontmost_eclipse.json",
         ])
         add_group("FrontmostFinder", "frontmost_Finder_setting", [
           "frontmost_Finder.json",
         ])

         add_group("FrontmostSublime", "frontmost_sublime_setting", [
           "frontmost_sublime.json",
         ])

         add_group("FrontmostMi", "frontmost_mi_setting", [
           "frontmost_mi.json",
         ])

         add_group("FrontmostMysqlworkbench", "frontmost_mysqlworkbench_setting", [
           "frontmost_mysqlworkbench.json",
         ])

         add_group("MouseControl", "mouse_control_setting", [
           "mouse_control.json",
         ])
         add_group("TESUTO", "tesuto_setting", [
           "tesuto.json",
         ])

         add_group("DoublePushKey", "double_push_key_setting", [
           "double_push_key.json",
         ])

         add_group("WindowControl", "window_control_setting", [
           "window_control.json",
         ])

         add_group("FrontmostPathFinder", "frontmost_PathFinder_setting", [
           "frontmost_PathFinder.json",
         ])

         add_group("FrontmostChrome", "frontmost_chrome_setting", [
           "frontmost_chrome.json",
         ])

         add_group("FrontmostFirefox", "frontmost_firefox_setting", [
           "frontmost_firefox.json",
         ])

         add_group("FrontmostVivaldi", "frontmost_vivaldi_setting", [
           "frontmost_vivaldi.json",
         ])

         add_group("FrontmostIterm", "frontmost_iterm_setting", [
           "frontmost_iterm.json",
         ])

         add_group("FrontmostEvernote", "frontmost_evernote_setting", [
           "frontmost_evernote.json",
         ])
         add_group("Hold", "HoldSetting", [
           "hold.json",
         ])

         add_group("FrontmostExcel", "frontmost_excel_setting", [
           "frontmost_excel.json",
         ])
         add_group("FunctionKey", "functionkey_setting", [
           "functionkey.json",
         ])
         add_group("ReplaceKey", "replacekey_setting", [
           "replacekey.json",
         ])
         add_group("VimEmu", "vim_emu_setting", [
           "vim_emu.json",
         ])
         add_group("FrontmostKindle", "frontmost_kindle_setting", [
           "frontmost_kindle.json",
         ])
         add_group("FrontmostPreview", "frontmost_preview_setting", [
           "frontmost_preview.json",
         ])
         add_group("FrontmostPararelldesk", "frontmost_pararelldesk_setting", [
           "frontmost_pararelldesk.json",
         ])
         add_group("Frontmostvirtualbox", "frontmost_virtualbox_setting", [
           "frontmost_virtualbox.json",
         ])
         add_group("Frontmostline", "frontmost_line_setting", [
           "frontmost_line.json",
         ])
         add_group("Frontmostvirtualmachine", "frontmost_virtualmachine_setting", [
           "frontmost_virtualmachine.json",
         ]) %>

      <%= render_toc() %>
      <div class="text-left" style="margin-bottom: 30px">
        <a href="javascript:$('.collapse').collapse('show')">Expand All</a> |
        <a href="javascript:$('.collapse').collapse('hide')">Collapse All</a>
      </div>

      <%= $groups %>

      <hr />
    </div>

    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
